<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InfiniPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <InfiniPad.Properties.Settings>
            <setting name="TaskbarMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PartialHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartialModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PenColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="EditorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatermarkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkPath" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="WatermarkOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextDefault" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="MeasurementColor" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="ClipboardOnUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkScale" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="WindowHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="account_access_token" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="account_refresh_token" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="account_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="account_authed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadWithAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlighterOpacity" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ShouldRetryUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumRetries" serializeAs="String">
                <value>1</value>
            </setting>
        </InfiniPad.Properties.Settings>
    </userSettings>
</configuration>
